@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

$light_orange: #F6C778;
$dark_orange: #FAAE7D;
$white: #FFFFFF;
$black: #000;

*{
  font-family: 'Quicksand';
}

#menuButton{
  position: absolute;
  top: 10px;
  left: 10px;
  max-height: calc(var(--vh, 1vh) * 7);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  & a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $black;
    display: block;
    transition: 0.3s;
  }

  & a:hover {
    color: #707070;
  }

  .searchButton{
    background-color: $white;
    font-weight: 600;
    color: $black;
    border: none;
    outline: none;
    box-shadow: none;
    border: 1px solid $black;
    border-radius: 10px;
  }

  label{
    font-weight: 600;
  }

  input{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid $black;
  }

  p{
    font-weight: 600;
  }

  .historyLog{
    height: calc(var(--vh, 1vh) * 20);
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $white;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #707070;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $black;
    }
  }

  .historyChoice{
    color: rgba($black, .5);
  }
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#app{
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url('./img/mask_wave.png');

  .global-pane{
    // background-image: url('./img/mask_wave.png');
    // background: linear-gradient($dark_orange, $light_orange);
    // border-top-right-radius: 0% 50% 0%;

    .currentTemp{
      color: $white;

      .currentTempText{
        font-size: 13em;
        font-weight: 600;
        margin-bottom: -.2em !important;
      }
      .currentTempTown{
        font-size: 2.5em;
      }
    }

    .currentWeather{
      color: $white;

      .currentWeatherDescription{
        font-size: 2em;
      }
    }
  }


  .detail-pane{
    height: calc(var(--vh, 1vh) * 100);
    padding-left: 10vw;

    .sectionTitle{
      font-size: 2.8em;
    }

    .conditions-text{
      font-size: 2em;
      color: $black;
    }

    .currentDetails{
      height: calc(var(--vh, 1vh) * 50);
    }

    .currentEnvironement{
      height: calc(var(--vh, 1vh) * 50);
    }
  }
}


@media screen and (max-width:992px) {
  .global-pane{
    height: calc(var(--vh, 1vh) * 100) !important;
    .currentTemp{
      margin-bottom: 0 !important;
      .currentTempText{
        font-size: 5em !important;
      }
      .currentTempTown{
        font-size: 1.2em !important;
      }
    }
    .currentWeather{
      margin-top: 1em !important;
      .currentWeatherLogo{
        max-height: calc(var(--vh, 1vh) * 10) !important;
      }
      .currentWeatherDescription{
        font-size: 1.2em !important;
      }
    }
  }

  .sectionTitle{
    font-size: 2em !important;
  }
  .conditions-text{
    font-size: 1.5em !important;
  }
}
